*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background-color:  hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-bottom.svg), url(/images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: 97vh 43vh, -115vh -120vh;
    background-size: cover, cover;
}

main{
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(0, 0%, 59%);
    display: flex;
    justify-content: center;
    align-self: center;
}

#card{
    height:62vh;
    width:56vh;
    background-color: white;
    background-image: url(/images/bg-pattern-card.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius:2vh;
    margin:19vh 0 0 0;
    text-align: center;
    img{
        border-radius: 15vh;
        border:0.6vh solid white;
        margin:14vh 0 0 0vh;
        height:27%;
        width:auto;
    }
    p{
        font-size:2.3vh;
        margin:3vh 0 5vh 0;
    }
    span{
        font-weight: bold;
        color:hsl(229, 23%, 23%);
        font-size: 3vh;
    }
    b{
        font-size:3vh;
        font-weight: lighter;
    }
    hr {
        opacity: 0.3;
    }
    #numbers{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        p{
            margin: 5vh 0 0 0;
        }
    }
}